# Final Project

Trent Adamson 

Jack Dorner

Luke Stevens

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
resumes_df = pd.read_csv('./Data_Needs_updated_after_selection_sunday/Resumes.csv')
resumes_df.head(10)

,YEAR,TEAM NO,TEAM,SEED,ROUND,NET RPI,RESUME,WAB RANK,ELO,B POWER,Q1 W,Q2 W,Q1 PLUS Q2 W,Q3 Q4 L,PLUS 500,R SCORE,BID TYPE
0,2024,1067,Connecticut,1,1,2,2,1,1,1.5,13,8,21,0,29,99.98,Auto
1,2024,1056,Houston,1,16,1,3,3,2,1.5,16,3,19,0,27,99.97,At-Large
2,2024,1038,North Carolina,1,16,8,5,5,6,10.0,9,7,16,0,20,99.91,At-Large
3,2024,1033,Purdue,1,2,3,1,2,3,3.0,12,8,20,0,25,99.96,At-Large
4,2024,1077,Arizona,2,16,4,10,11,14,5.5,8,7,15,1,18,99.87,At-Large
5,2024,1053,Iowa St.,2,16,6,4,4,4,5.5,10,6,16,0,21,99.86,Auto
6,2024,1047,Marquette,2,16,14,7,6,9,13.0,9,6,15,0,17,99.78,At-Large
7,2024,1024,Tennessee,2,8,7,6,8,8,7.0,8,5,13,0,17,99.89,At-Large
8,2024,1075,Baylor,3,32,13,8,10,25,13.5,10,4,14,0,14,99.73,At-Large
9,2024,1066,Creighton,3,16,11,9,13,17,10.0,8,7,15,0,15,99.74,At-Large

In [3]:
shooting_df = pd.read_csv('Data_Needs_updated_after_selection_sunday/Shooting Splits.csv')
shooting_df.describe()

,YEAR,TEAM NO,TEAM ID,DUNKS FG%,DUNKS SHARE,DUNKS FG%D,DUNKS D SHARE,CLOSE TWOS FG%,CLOSE TWOS SHARE,CLOSE TWOS FG%D,...,CLOSE TWOS FG%D RANK,CLOSE TWOS D SHARE RANK,FARTHER TWOS FG% RANK,FARTHER TWOS SHARE RANK,FARTHER TWOS FG%D RANK,FARTHER TWOS D SHARE RANK,THREES FG% RANK,THREES SHARE RANK,THREES FG%D RANK,THREES D SHARE RANK
count,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,...,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000
mean,2016.807165,605.000000,127.011591,89.611802,6.802002,88.202634,4.968493,62.431823,35.548156,57.850263,...,134.570074,140.613277,145.985248,180.139094,128.338251,224.060063,125.158061,181.884089,115.561644,165.981033
std,4.387087,274.097002,71.741720,4.515565,2.877254,4.920774,1.462314,4.098137,4.966173,4.169058,...,95.843274,92.914274,98.697412,97.146664,93.228873,91.670546,92.241853,97.292348,85.177066,100.304766
min,2010.000000,131.000000,1.000000,64.300000,0.500000,70.400000,1.100000,48.000000,14.800000,43.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000
25%,2013.000000,368.000000,68.000000,86.900000,4.800000,85.000000,3.900000,59.700000,32.400000,55.000000,...,48.000000,64.000000,57.000000,100.000000,49.000000,158.000000,44.000000,97.000000,44.000000,83.000000
50%,2017.000000,605.000000,125.000000,90.000000,6.500000,88.700000,4.900000,62.500000,35.600000,57.900000,...,123.000000,126.000000,132.000000,181.000000,113.000000,240.000000,109.000000,185.000000,98.000000,164.000000
75%,2021.000000,842.000000,194.000000,92.600000,8.700000,91.700000,5.900000,65.100000,38.900000,60.500000,...,207.000000,211.000000,226.000000,262.000000,198.000000,300.000000,195.000000,265.000000,174.000000,251.000000
max,2024.000000,1079.000000,251.000000,100.000000,17.100000,100.000000,12.200000,78.500000,51.700000,75.600000,...,363.000000,357.000000,362.000000,361.000000,355.000000,363.000000,363.000000,354.000000,346.000000,362.000000

In [4]:
shooting_df_2024 = shooting_df[shooting_df['YEAR'] == 2024]
shooting_2024_by_team_id = shooting_df_2024.sort_values(by = 'TEAM ID')
dunks = shooting_df_2024['DUNKS FG%']
shooting_2024_by_team_id.describe()

,YEAR,TEAM NO,TEAM ID,DUNKS FG%,DUNKS SHARE,DUNKS FG%D,DUNKS D SHARE,CLOSE TWOS FG%,CLOSE TWOS SHARE,CLOSE TWOS FG%D,...,CLOSE TWOS FG%D RANK,CLOSE TWOS D SHARE RANK,FARTHER TWOS FG% RANK,FARTHER TWOS SHARE RANK,FARTHER TWOS FG%D RANK,FARTHER TWOS D SHARE RANK,THREES FG% RANK,THREES SHARE RANK,THREES FG%D RANK,THREES D SHARE RANK
count,68.0,68.00000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,...,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000
mean,2024.0,1045.50000,126.735294,88.988235,7.280882,87.270588,5.369118,61.213235,37.210294,57.392647,...,164.014706,128.455882,150.647059,189.941176,131.147059,237.985294,119.088235,183.588235,118.426471,183.720588
std,0.0,19.77372,79.198714,4.600601,2.708762,5.134957,1.315494,4.385659,4.782404,4.065116,...,109.373725,99.047318,98.021588,102.952515,98.927271,93.559223,87.821518,103.119874,86.702668,109.761321
min,2024.0,1012.00000,2.000000,77.900000,1.800000,73.600000,2.200000,48.500000,25.300000,48.000000,...,1.000000,1.000000,1.000000,9.000000,1.000000,1.000000,1.000000,2.000000,2.000000,5.000000
25%,2024.0,1028.75000,53.750000,86.225000,5.375000,83.825000,4.550000,58.750000,33.975000,54.650000,...,59.750000,37.250000,71.000000,93.250000,51.500000,161.000000,40.000000,96.750000,50.500000,90.750000
50%,2024.0,1045.50000,124.500000,88.800000,7.050000,87.800000,5.600000,61.500000,36.750000,57.650000,...,166.500000,117.000000,138.000000,201.500000,113.000000,258.500000,111.000000,174.500000,105.000000,176.000000
75%,2024.0,1062.25000,199.250000,92.225000,9.075000,90.625000,6.200000,64.225000,41.450000,59.700000,...,243.000000,210.000000,235.000000,272.750000,201.000000,318.500000,173.250000,282.000000,182.000000,286.250000
max,2024.0,1079.00000,251.000000,100.000000,13.200000,97.700000,8.100000,72.900000,48.100000,66.700000,...,361.000000,350.000000,362.000000,361.000000,355.000000,362.000000,354.000000,348.000000,346.000000,362.000000

In [5]:
df_matchups = pd.read_csv('Data_Needs_updated_after_selection_sunday/Tournament Matchups.csv')
df_matchups.head(20)

,YEAR,BY YEAR NO,BY ROUND NO,TEAM NO,TEAM,SEED,ROUND,CURRENT ROUND,SCORE
0,2024,2014,2014,1067,Connecticut,1,1,64,91
1,2024,2013,2013,1026,Stetson,16,64,64,52
2,2024,2012,2012,1060,Florida Atlantic,8,64,64,65
3,2024,2011,2011,1036,Northwestern,9,32,64,77
4,2024,2010,2010,1029,San Diego St.,5,16,64,69
5,2024,2009,2009,1020,UAB,12,64,64,65
6,2024,2008,2008,1076,Auburn,4,64,64,76
7,2024,2007,2007,1012,Yale,13,32,64,78
8,2024,2006,2006,1073,BYU,6,64,64,67
9,2024,2005,2005,1062,Duquesne,11,32,64,71
10,2024,2004,2004,1054,Illinois,3,8,64,85
11,2024,2003,2003,1042,Morehead St.,14,64,64,69
12,2024,2002,2002,1015,Washington St.,7,32,64,66
13,2024,2001,2001,1064,Drake,10,64,64,61
14,2024,2000,2000,1053,Iowa St.,2,16,64,82
15,2024,1999,1999,1027,South Dakota St.,15,64,64,65
16,2024,1998,1998,1038,North Carolina,1,16,64,90
17,2024,1997,1997,1016,Wagner,16,64,64,62
18,2024,1996,1996,1044,Mississippi St.,8,64,64,51
19,2024,1995,1995,1045,Michigan St.,9,32,64,69

In [6]:
all_time_results_df = pd.read_csv('Data_Needs_updated_after_selection_sunday/Team Results.csv')
all_time_tourny_win_percent = all_time_results_df['WIN%']
team_rankings_df = pd.read_csv('Data_Needs_updated_after_selection_sunday/TeamRankings.csv')
team_rankings_2024 = team_rankings_df[team_rankings_df['YEAR'] == 2024]
round_reached_all_time = team_rankings_df[['TEAM NO', 'ROUND']]
round_reached_all_time.head()

   TEAM NO  ROUND
0     1079     64
1     1078      4
2     1077     16
3     1076     64
4     1075     32

In [7]:
round_reached_dict = dict(zip(round_reached_all_time['TEAM NO'], round_reached_all_time['ROUND']))

def create_stat_vs_round_vector(stat_df, stat):
    stat_vector = []
    round_vector = []
    stat_dict = dict(zip(stat_df['TEAM NO'], stat_df[stat]))

    for key in round_reached_dict:
        if key > 131:
            stat_vector.append(stat_dict[key])
            round_vector.append(round_reached_dict[key])
    return stat_vector, round_vector

In [8]:
import seaborn as sns
from scipy.stats import kruskal
import numpy as np

list_KW_values = []
list_p_values = []
valid_columns = []

def perform_kruskal_wallis(df, dropped_columns_list):
    # drop any categorical column names 
    column_names = df.columns.drop(dropped_columns_list)

    for column_name in column_names:
        
        samples_by_group = []

        stat_vector, round_vector = create_stat_vs_round_vector(df, column_name)

        stat_vector = np.array(stat_vector)
        round_vector = np.array(round_vector)
        
        # Combines data for champion, finalist, and final four teams 
        replace_dict = {1 : 4, 2 : 4}
        rounds = np.array([replace_dict.get(x, x) for x in round_vector])
        
        for value in np.unique(rounds):
            mask = rounds == value
            data = stat_vector[mask]
            if len(np.unique(data)) > 1:
                samples_by_group.append(data)
        
        
        if len(samples_by_group) >= 2:
            stat, p = kruskal(*samples_by_group)
            list_KW_values.append(stat)
            list_p_values.append(p)
            valid_columns.append(column_name)
        

        # sns.violinplot(x = rounds, y = stat_vector)

        # plt.title(f'{column_name} vs Round')
        # plt.xlabel('Round Reached')
        # plt.ylabel(column_name)
        # plt.show()


    print(len(valid_columns), len(list_KW_values), len(list_p_values))
    df2 = pd.DataFrame({
        'variable_name': valid_columns,
        'test_statistic (K.W.)': list_KW_values,
        'p-value': list_p_values
    })
    alpha = 0.05
    num_hypothesis_tests = len(valid_columns)

    # Bonferroni Correction
    df2['significant_relationship'] = df2['p-value'] < (alpha / num_hypothesis_tests)

    return df2

In [9]:
team_rankings_dropped_columns = ['TEAM', 'TEAM NO', 'YEAR', 'ROUND']
team_rankings_KW_results = perform_kruskal_wallis(team_rankings_df, team_rankings_dropped_columns)
team_rankings_KW_results = team_rankings_KW_results[team_rankings_KW_results['significant_relationship'] == True]
team_rankings_KW_results = team_rankings_KW_results.sort_values(by = 'p-value')
team_rankings_KW_results.head(len(team_rankings_KW_results))

39 39 39

,variable_name,test_statistic (K.W.),p-value,significant_relationship
0,SEED,349.720304,2.010579e-73,True
11,LAST,341.014973,1.504296e-71,True
1,TR RANK,340.872968,1.613986e-71,True
9,HI,304.119674,1.302910e-63,True
10,LO,292.314707,4.494819e-61,True
2,TR RATING,284.729224,1.918091e-59,True
12,SOS RANK,261.697590,1.696593e-54,True
16,SOS LAST,260.481136,3.095391e-54,True
3,V 1-25 WINS,218.083649,3.823414e-45,True
13,SOS RATING,202.135632,9.920139e-42,True
5,V 26-50 WINS,190.057065,3.798520e-39,True
14,SOS HI,188.546729,7.987979e-39,True
7,V 51-100 WINS,157.463806,3.435631e-32,True
4,V 1-25 LOSS,67.589516,3.250056e-13,True
15,SOS LO,43.534532,2.878965e-08,True
19,LUCK V 1-25 WINS,42.665701,4.318796e-08,True
35,CONSISTENCY V 51-100 LOSS,37.676822,4.381406e-07,True
22,LUCK V 26-50 LOSS,20.388284,1.056463e-03,True

In [10]:
KenPom_Barttorvik_df = pd.read_csv('Data_Needs_updated_after_selection_sunday/KenPom Barttorvik.csv')
KenPom_Bart_dropped_columns = ['YEAR', 'CONF', 'CONF ID', 'QUAD ID', 'QUAD ID', 'TEAM NO', 'TEAM ID', 'TEAM', 'SEED', 'ROUND']
KenPom_Barttorvik_KW_results = perform_kruskal_wallis(KenPom_Barttorvik_df, KenPom_Bart_dropped_columns)
KenPom_Barttorvik_KW_results = KenPom_Barttorvik_KW_results[KenPom_Barttorvik_KW_results['significant_relationship'] == True]
KenPom_Barttorvik_KW_results = KenPom_Barttorvik_KW_results.sort_values(by = 'p-value')
KenPom_Barttorvik_KW_results.head(len(KenPom_Barttorvik_KW_results))

133 133 133

,variable_name,test_statistic (K.W.),p-value,significant_relationship
0,SEED,349.720304,2.010579e-73,True
95,WAB,345.825728,1.386003e-72,True
57,BARTHAG,344.401049,2.808377e-72,True
54,BADJ EM,343.571814,4.236042e-72,True
52,KADJ EM,342.535000,7.081807e-72,True
...,...,...,...,...
68,OREB%,34.969527,1.525867e-06,True
104,TOV% RANK,33.542153,2.936669e-06,True
103,FTRD RANK,31.814131,6.466579e-06,True
66,TOV%,31.201431,8.547303e-06,True
65,FTRD,25.510164,1.110295e-04,True