# Final Project

Trent Adamson 

Jack Dorner

Luke Stevens

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [3]:
resumes_df = pd.read_csv('./Data_Needs_updated_after_selection_sunday/Resumes.csv')
resumes_df.head(10)

,YEAR,TEAM NO,TEAM,SEED,ROUND,NET RPI,RESUME,WAB RANK,ELO,B POWER,Q1 W,Q2 W,Q1 PLUS Q2 W,Q3 Q4 L,PLUS 500,R SCORE,BID TYPE
0,2024,1067,Connecticut,1,1,2,2,1,1,1.5,13,8,21,0,29,99.98,Auto
1,2024,1056,Houston,1,16,1,3,3,2,1.5,16,3,19,0,27,99.97,At-Large
2,2024,1038,North Carolina,1,16,8,5,5,6,10.0,9,7,16,0,20,99.91,At-Large
3,2024,1033,Purdue,1,2,3,1,2,3,3.0,12,8,20,0,25,99.96,At-Large
4,2024,1077,Arizona,2,16,4,10,11,14,5.5,8,7,15,1,18,99.87,At-Large
5,2024,1053,Iowa St.,2,16,6,4,4,4,5.5,10,6,16,0,21,99.86,Auto
6,2024,1047,Marquette,2,16,14,7,6,9,13.0,9,6,15,0,17,99.78,At-Large
7,2024,1024,Tennessee,2,8,7,6,8,8,7.0,8,5,13,0,17,99.89,At-Large
8,2024,1075,Baylor,3,32,13,8,10,25,13.5,10,4,14,0,14,99.73,At-Large
9,2024,1066,Creighton,3,16,11,9,13,17,10.0,8,7,15,0,15,99.74,At-Large

In [13]:
shooting_df = pd.read_csv('Data_Needs_updated_after_selection_sunday/Shooting Splits.csv')
shooting_df.head(5)

,YEAR,TEAM NO,TEAM ID,TEAM,CONF,DUNKS FG%,DUNKS SHARE,DUNKS FG%D,DUNKS D SHARE,CLOSE TWOS FG%,...,CLOSE TWOS FG%D RANK,CLOSE TWOS D SHARE RANK,FARTHER TWOS FG% RANK,FARTHER TWOS SHARE RANK,FARTHER TWOS FG%D RANK,FARTHER TWOS D SHARE RANK,THREES FG% RANK,THREES SHARE RANK,THREES FG%D RANK,THREES D SHARE RANK
0,2024,1079,2,Akron,MAC,97.2,6.8,90.6,5.6,62.8,...,179,209,31,205,239,195,276,71,14,170
1,2024,1078,3,Alabama,SEC,81.9,9.5,89.2,7.3,63.1,...,265,218,299,361,106,185,40,19,67,164
2,2024,1077,8,Arizona,P12,91.2,11.9,89.3,5.9,63.3,...,158,17,234,241,154,328,23,295,149,219
3,2024,1076,12,Auburn,SEC,87.7,13.2,87.1,4.7,61.7,...,2,322,98,293,12,163,113,180,9,52
4,2024,1075,14,Baylor,B12,89.2,11.6,91.8,7.2,65.7,...,359,14,249,144,244,356,7,153,153,111

In [12]:
shoting_df_2024 = shooting_df[shooting_df['YEAR'] == 2024]
shoting_df_2024.head(10)

,YEAR,TEAM NO,TEAM ID,TEAM,CONF,DUNKS FG%,DUNKS SHARE,DUNKS FG%D,DUNKS D SHARE,CLOSE TWOS FG%,...,CLOSE TWOS FG%D RANK,CLOSE TWOS D SHARE RANK,FARTHER TWOS FG% RANK,FARTHER TWOS SHARE RANK,FARTHER TWOS FG%D RANK,FARTHER TWOS D SHARE RANK,THREES FG% RANK,THREES SHARE RANK,THREES FG%D RANK,THREES D SHARE RANK
0,2024,1079,2,Akron,MAC,97.2,6.8,90.6,5.6,62.8,...,179,209,31,205,239,195,276,71,14,170
1,2024,1078,3,Alabama,SEC,81.9,9.5,89.2,7.3,63.1,...,265,218,299,361,106,185,40,19,67,164
2,2024,1077,8,Arizona,P12,91.2,11.9,89.3,5.9,63.3,...,158,17,234,241,154,328,23,295,149,219
3,2024,1076,12,Auburn,SEC,87.7,13.2,87.1,4.7,61.7,...,2,322,98,293,12,163,113,180,9,52
4,2024,1075,14,Baylor,B12,89.2,11.6,91.8,7.2,65.7,...,359,14,249,144,244,356,7,153,153,111
5,2024,1074,17,Boise St.,MWC,90.2,4.9,87.5,6.2,59.3,...,330,146,231,247,138,251,137,114,24,176
6,2024,1073,25,BYU,B12,88.9,6.1,92.1,5.9,72.9,...,349,9,170,270,46,359,137,2,60,72
7,2024,1072,33,Clemson,ACC,97.2,6.4,81.0,5.2,64.3,...,10,65,121,192,289,218,101,104,198,287
8,2024,1071,36,Colgate,Pat,100.0,1.8,97.2,3.1,62.7,...,203,96,130,162,57,207,83,153,12,270
9,2024,1070,37,College of Charleston,CAA,92.9,7.6,86.0,3.4,65.0,...,361,75,362,328,5,300,137,16,171,176