# Final Project

Trent Adamson 

Jack Dorner

Luke Stevens

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [3]:
resumes_df = pd.read_csv('./Data_Needs_updated_after_selection_sunday/Resumes.csv')
resumes_df.head(10)

,YEAR,TEAM NO,TEAM,SEED,ROUND,NET RPI,RESUME,WAB RANK,ELO,B POWER,Q1 W,Q2 W,Q1 PLUS Q2 W,Q3 Q4 L,PLUS 500,R SCORE,BID TYPE
0,2024,1067,Connecticut,1,1,2,2,1,1,1.5,13,8,21,0,29,99.98,Auto
1,2024,1056,Houston,1,16,1,3,3,2,1.5,16,3,19,0,27,99.97,At-Large
2,2024,1038,North Carolina,1,16,8,5,5,6,10.0,9,7,16,0,20,99.91,At-Large
3,2024,1033,Purdue,1,2,3,1,2,3,3.0,12,8,20,0,25,99.96,At-Large
4,2024,1077,Arizona,2,16,4,10,11,14,5.5,8,7,15,1,18,99.87,At-Large
5,2024,1053,Iowa St.,2,16,6,4,4,4,5.5,10,6,16,0,21,99.86,Auto
6,2024,1047,Marquette,2,16,14,7,6,9,13.0,9,6,15,0,17,99.78,At-Large
7,2024,1024,Tennessee,2,8,7,6,8,8,7.0,8,5,13,0,17,99.89,At-Large
8,2024,1075,Baylor,3,32,13,8,10,25,13.5,10,4,14,0,14,99.73,At-Large
9,2024,1066,Creighton,3,16,11,9,13,17,10.0,8,7,15,0,15,99.74,At-Large